In [1]:
%matplotlib notebook
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
import sys

sys.path.append('../')
pd.options.display.max_columns = 35

In [2]:
data_path = '../data/raw/'

In [3]:
train = pd.read_csv(data_path + "train_30.csv", header=0, delimiter=";",decimal=',',
                    parse_dates=['date'], index_col='date')

In [4]:
train.head(5)

,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,flvis1SOL0,hcoulimSOL0,huH2,iwcSOL0,nbSOL0_HMoy,nH20,ntSOL0_HMoy,pMER0,rr1SOL0,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2014-01-01,6088001,7.8,38.245480,0.0,0.0,1.0,1.423250,-100292.923371,-108461.086720,-26163.859606,0.0,503.778766,79.213137,0.0,5.857651,0.0,7.961908,1014.035619,-0.012267,0.000000,11.657800,-0.856984,0.004141,-0.003377,8.088612,-1.244766,20.734754,-4.553151,30,janvier
2014-01-01,31069001,9.2,22.303022,0.0,0.0,3.0,2.408082,-18815.426563,-11894.040428,14095.776354,0.0,729.086833,90.978967,0.0,8.000000,0.0,8.000000,1010.331761,0.145260,0.008258,8.023305,1.454075,0.001222,0.000489,10.107755,1.112657,18.586576,3.962234,30,janvier
2014-01-01,33281001,9.3,194.861009,0.0,0.0,4.0,4.535840,-61941.404781,-81870.097549,179862.881572,0.0,897.634612,92.801612,0.0,7.744064,0.0,7.969099,1006.380424,0.074460,0.018740,11.243986,-0.127558,0.000368,0.000737,10.006774,7.714926,19.378744,8.029170,30,janvier
2014-01-01,35281001,7.6,182.890703,0.0,0.0,3.0,4.881681,-227613.396837,2019.225971,176067.945920,0.0,262.459860,90.571364,0.0,3.776259,0.0,5.286151,999.551696,0.000000,0.000000,7.623182,0.243659,0.001054,-0.001233,7.359926,4.667206,13.485018,6.427848,30,janvier
2014-01-01,59343001,9.9,31.526467,0.0,0.0,3.0,8.086883,-80526.229570,-76652.492578,192696.865313,0.0,1073.007502,88.712385,0.0,6.468433,0.0,8.000000,994.476250,-0.000781,0.000000,9.012843,-0.363116,-0.000285,0.000543,7.512743,6.852292,14.622403,11.882253,30,janvier

In [5]:
train.tail(1)

,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,flvis1SOL0,hcoulimSOL0,huH2,iwcSOL0,nbSOL0_HMoy,nH20,ntSOL0_HMoy,pMER0,rr1SOL0,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2016-05-30,75114001,12.5,2.818198,0.0,0.0,4.0,4.730778,-25714.018871,-91268.391242,-24893.136842,41743.419074,648.958456,87.014844,0.0,8.0,0.0,8.0,1008.250199,0.824805,0.080059,12.343202,-1.16857,0.000467,0.00131,14.466925,8.895326,30.78891,-3.814131,30,mai

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6167 entries, 2014-01-01 to 2016-05-30
Data columns (total 30 columns):
insee              6167 non-null int64
tH2_obs            6167 non-null float64
capeinsSOL0        5551 non-null float64
ciwcH20            6167 non-null float64
clwcH20            6041 non-null float64
ddH10_rose4        6041 non-null object
ffH10              6041 non-null float64
flir1SOL0          6160 non-null float64
fllat1SOL0         6160 non-null float64
flsen1SOL0         6160 non-null float64
flvis1SOL0         6160 non-null float64
hcoulimSOL0        6167 non-null float64
huH2               6041 non-null float64
iwcSOL0            6160 non-null float64
nbSOL0_HMoy        6160 non-null float64
nH20               5831 non-null float64
ntSOL0_HMoy        6160 non-null float64
pMER0              6034 non-null float64
rr1SOL0            6160 non-null float64
rrH20              6048 non-null float64
tH2                6041 non-null float64
tH2_VGrad_2.100    6041 non-null float64
tH2_XGrad          6041 non-null float64
tH2_YGrad          6041 non-null float64
tpwHPA850          6160 non-null float64
ux1H10             6041 non-null float64
vapcSOL0           6167 non-null float64
vx1H10             6041 non-null float64
ech                6167 non-null int64
mois               6167 non-null object
dtypes: float64(26), int64(2), object(2)
memory usage: 1.5+ MB

ddH10_rose4, mois object type => category ?  
There are missing values

In [7]:
train.describe(include='all')

,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,flvis1SOL0,hcoulimSOL0,huH2,iwcSOL0,nbSOL0_HMoy,nH20,ntSOL0_HMoy,pMER0,rr1SOL0,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
count,6.167000e+03,6167.000000,5551.000000,6.167000e+03,6.041000e+03,6041,6041.000000,6160.000000,6.160000e+03,6160.000000,6160.000000,6167.000000,6041.000000,6160.000000,6160.000000,5831.000000,6160.000000,6034.000000,6160.000000,6048.000000,6041.000000,6041.000000,6041.000000,6041.000000,6160.000000,6041.000000,6167.000000,6041.000000,6167.0,6167
unique,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
top,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,janvier
freq,NaN,NaN,NaN,NaN,NaN,1875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,651
mean,4.390000e+07,10.296627,30.210074,1.116815e-07,1.295399e-05,NaN,2.987004,-164222.246876,-4.480046e+04,19691.762921,113917.870527,310.720918,84.230438,0.026781,3.289722,0.542438,5.380670,1016.817542,0.073363,0.003224,10.271349,0.307702,0.001235,0.000028,9.560853,0.947032,17.707615,0.719772,30.0,NaN
std,2.246953e+07,5.835699,96.864658,1.714985e-06,5.472359e-05,NaN,1.946888,107340.093730,8.496074e+04,73137.022313,174439.099716,346.850183,12.344721,0.373298,3.364038,1.839701,3.232048,8.591797,0.383785,0.018154,6.098587,1.721683,0.002029,0.003069,4.563407,4.184865,7.849589,4.368275,0.0,NaN
min,6.088001e+06,-6.400000,0.000000,0.000000e+00,0.000000e+00,NaN,0.028085,-522302.660251,-1.145786e+06,-229071.283900,0.000000,1.838477,24.767455,0.000000,0.000000,0.000000,0.000000,981.899875,-0.019531,0.000000,-9.776349,-2.202656,-0.008235,-0.019682,-2.893943,-18.812615,2.057573,-14.345835,30.0,NaN
25%,3.106900e+07,6.100000,0.036675,0.000000e+00,0.000000e+00,NaN,1.617029,-249371.716476,-6.585640e+04,-19747.093793,0.000000,71.148288,78.679369,0.000000,0.002959,0.000000,1.875227,1011.889121,0.000000,0.000000,5.696904,-0.884094,0.000067,-0.000617,6.270626,-1.394248,11.667361,-2.276101,30.0,NaN
50%,3.528100e+07,10.100000,1.534850,0.000000e+00,0.000000e+00,NaN,2.534329,-182240.867188,-1.331940e+04,4873.812969,3483.362110,192.831584,87.586665,0.000000,1.824873,0.000000,7.524913,1017.054016,0.000000,0.000000,10.290151,-0.279745,0.000857,0.000279,9.555197,0.650782,16.421602,0.188786,30.0,NaN
75%,6.712400e+07,14.400000,11.841504,0.000000e+00,1.726422e-08,NaN,3.904950,-57922.039030,3.905953e+03,47356.991500,185317.924669,431.076599,92.966571,0.000000,7.343966,0.000000,8.000000,1022.235893,0.000836,0.000000,14.471678,1.054088,0.002096,0.001452,12.858766,3.022610,22.778160,3.293768,30.0,NaN
max,7.511400e+07,29.400000,1237.521599,6.457207e-05,4.050511e-04,NaN,14.908145,48134.305344,1.186144e+05,568788.919020,687056.437069,5027.284656,100.028162,12.635832,8.000000,8.230140,8.000000,1043.228797,9.247457,0.502367,29.703558,8.878182,0.023274,0.018334,21.570255,22.809869,47.149414,22.299521,30.0,NaN

**tH2_obs** :	Observation de la température à 2 mètres in situ- au point station (prédictant)  
**capeinsSOL0**: 	Energie potentielle convective  
**ciwcH20**: 	Fraction de glace nuageuse à 20 mètres  
**clwcH20**: 	Fraction d'eau nuageuse à 20 mètres  
**ddH10_rose4**: 	Direction du vent à 10 mètres en rose4  
**ffH10**: 	Force du vent à 10 mètres en m/s  
**flir1SOL0**: 	Flux Infra-rouge en J/m2  
**fllat1SOL0**: 	Flux de chaleur latente en J/m2  
**flsen1SOL0**: 	Flux de chaleur sensible en J/m2  
**flvis1SOL0**: 	Flux visible en J/m2  
**hcoulimSOL0**: 	Hauteur de la couche limite en mètres  
**huH2**: 	Humidité 2mètres en %  
**iwcSOL0**: 	Réservoir neige kg/m2 (équivalent en eau liquide des chutes de neige)  
**nbSOL0_HMoy**: 	Nébulosité basse (moyenne sur les 6 points de grille autour de la station) (fraction en octat du ciel occulté)  
**nH20**: 	Fraction nuageuse à 20 mètres  
**ntSOL0_HMoy**: 	Nébulosité totale (moyenne sur les 6 points de grille autour de la station)  
**pMER0**: 	Pression au niveau de la mer  
**rr1SOL0**: 	Précipitation horaire au niveau du sol  
**rrH20**: 	Précipitation horaire à 20 mètres  
**tH2**: 	Température à 2 mètres du modèle AROME  
**tH2_VGrad_2.100**: 	Gradient vertical de température entre 2 mètres et 100 mètres  
**tH2_XGrad**: 	Gradient zonal de température à 2 mètres  
**tH2_YGrad**: 	Gradient méridien de température à 2 mètres  
**tpwHPA850**: 	Température potentielle au niveau 850 hPa  
**ux1H10**: 	Rafale 1 minute du vent à 10 mètres composante zonale  
**vapcSOL0**: 	Colonne de vapeur d'eau  
**vx1H10**: 	Rafale 1 minute du vent à 10 mètres composante verticale  
**ech** : 	Echéance de validité = date

# Rows with nan

In [8]:
# Total missings values by variable
pd.DataFrame(train.isnull().sum()).T

,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,flvis1SOL0,hcoulimSOL0,huH2,iwcSOL0,nbSOL0_HMoy,nH20,ntSOL0_HMoy,pMER0,rr1SOL0,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
0,0,0,616,0,126,126,126,7,7,7,7,0,126,7,7,336,7,133,7,119,126,126,126,126,7,126,0,126,0,0

flir1SOL0 	fllat1SOL0 	flsen1SOL0 	flvis1SOL0 iwcSOL0 	nbSOL0_HMoy ntSOL0_HMoy rr1SOL0 tpwHPA850 : 7 missings  
rrH20 : 119 missings  
clwcH20 ddH10_rose4 ffH10 huH2 tH2 	tH2_VGrad_2.100 tH2_XGrad tH2_YGrad ux1H10 vx1H10 : 126 missings  
pMER0 : 133  
nH20 : 336  
capeinsSOL0 : 616

In [9]:
for i in np.where(train.isnull().sum() == 7)[0]:
    print(np.where(np.asanyarray(pd.isnull(train.iloc[:,i]))))

(array([4627, 4628, 4629, 4630, 4631, 4632, 4633]),)
(array([4627, 4628, 4629, 4630, 4631, 4632, 4633]),)
(array([4627, 4628, 4629, 4630, 4631, 4632, 4633]),)
(array([4627, 4628, 4629, 4630, 4631, 4632, 4633]),)
(array([4627, 4628, 4629, 4630, 4631, 4632, 4633]),)
(array([4627, 4628, 4629, 4630, 4631, 4632, 4633]),)
(array([4627, 4628, 4629, 4630, 4631, 4632, 4633]),)
(array([4627, 4628, 4629, 4630, 4631, 4632, 4633]),)
(array([4627, 4628, 4629, 4630, 4631, 4632, 4633]),)

Same location for these missings vals

In [10]:
# Rows with missing val
np.where(train.isnull().sum(axis=1).values > 0)[0]

array([ 539,  540,  541,  542,  543,  544,  545,  546,  547,  548,  549,
        550,  551,  552,  553,  554,  555,  556,  557,  558,  559,  560,
        561,  562,  563,  564,  565,  566,  567,  568,  569,  570,  571,
        572,  573,  574,  575,  576,  577,  578,  579,  580,  581,  582,
        583,  584,  585,  586,  587,  588,  589,  590,  591,  592,  593,
        594,  595,  596,  597,  598,  599,  600,  601,  602,  603,  604,
        605,  606,  607,  608,  609,  610,  611,  612,  613,  614,  615,
        616,  617,  618,  619,  620,  621,  622,  623,  624,  625,  626,
        627,  628,  629,  812,  813,  814,  815,  816,  817,  818,  819,
        820,  821,  822,  823,  824,  825,  826,  827,  828,  829,  830,
        831,  832,  833,  834,  835,  836,  837,  838,  839, 1540, 1541,
       1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552,
       1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563,
       1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574,
       1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585,
       1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596,
       1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607,
       1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618,
       1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629,
       1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640,
       1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651,
       1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662,
       1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673,
       1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684,
       1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695,
       1696, 1697, 1698, 1699, 1700, 2016, 2017, 2018, 2019, 2020, 2021,
       2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032,
       2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043,
       2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054,
       2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065,
       2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076,
       2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087,
       2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098,
       2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109,
       2110, 2111, 2112, 2113, 2114, 2115, 2116, 2117, 2118, 2119, 2120,
       2121, 2122, 2123, 2124, 2125, 2126, 2127, 2646, 2647, 2648, 2649,
       2650, 2651, 2652, 2653, 2654, 2655, 2656, 2657, 2658, 2659, 2660,
       2661, 2662, 2663, 2664, 2665, 2666, 2667, 2668, 2669, 2670, 2671,
       2672, 2673, 2674, 2675, 2676, 2677, 2678, 2679, 2680, 2681, 2682,
       2683, 2684, 2685, 2686, 2687, 2688, 2689, 2690, 2691, 2692, 2693,
       2694, 2695, 2696, 2697, 2698, 2699, 2700, 2701, 2702, 2703, 2704,
       2705, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714, 2715,
       2716, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725, 2726,
       2727, 2728, 2729, 2730, 2731, 2732, 2733, 2734, 2735, 2736, 2737,
       2738, 2739, 2740, 2741, 2742, 2743, 2744, 2745, 2746, 2747, 2748,
       2749, 2750, 2751, 2752, 2753, 2754, 2755, 2756, 2757, 2758, 2759,
       2760, 2761, 2762, 2763, 2764, 2765, 2766, 2767, 2768, 2769, 2770,
       2771, 2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850, 2851,
       2852, 2853, 2854, 2855, 2856, 2857, 2858, 2859, 2860, 2861, 2862,
       2863, 2864, 2865, 2866, 2867, 2868, 2869, 2870, 2871, 2872, 2873,
       2874, 2875, 2876, 2877, 2878, 2879, 2880, 2881, 2882, 2883, 2884,
       2885, 2886, 2887, 2888, 2889, 2890, 2891, 2892, 2893, 2894, 2895,
       2896, 2897, 2898, 2899, 2900, 2901, 2902, 2903, 2904, 2905, 2906,
       2907, 2908, 2909, 2910, 2911, 2912, 2913, 2914, 2915, 2916, 2917,
       2918, 2919, 2920, 2921, 2922, 2923, 2924, 2925, 2926, 2927, 2928,
       2929, 2930, 2931, 2932, 2933, 2934, 2935, 2936, 2937, 2938, 2939,
       2940, 2941, 2942, 2943, 2944, 2945, 2946, 2947, 2948, 2949, 2950,
       2951, 2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961,
       2962, 2963, 2964, 2965, 2966, 2967, 2968, 2969, 2970, 2971, 2972,
       2973, 2974, 3402, 3403, 3404, 3405, 3406, 3407, 3408, 3409, 3410,
       3411, 3412, 3413, 3414, 3415, 3416, 3417, 3418, 3419, 3420, 3421,
       3422, 3423, 3424, 3425, 3426, 3427, 3428, 3429, 3430, 3431, 3432,
       3433, 3434, 3435, 3436, 3437, 3438, 3439, 3440, 3441, 3442, 3443,
       3444, 3445, 3446, 3447, 3448, 3449, 3450, 3451, 3452, 3453, 3454,
       3455, 3456, 3457, 3458, 3459, 3460, 3461, 3462, 3463, 3464, 3465,
       3466, 3467, 3468, 3469, 3470, 3471, 3472, 3473, 3474, 3475, 3476,
       3477, 3478, 3479, 3480, 3481, 3482, 3483, 3484, 3485, 3486, 3487,
       3488, 3489, 3490, 3491, 3492, 3493, 3494, 3495, 3496, 3497, 3498,
       3499, 3500, 3501, 3502, 3503, 3504, 3505, 3506, 3507, 3508, 3509,
       3510, 3511, 3512, 3513, 3514, 3515, 3516, 3517, 3518, 3519, 3520,
       3521, 3522, 3523, 3524, 3525, 3526, 3527, 3528, 3529, 3530, 3531,
       3532, 3533, 3534, 3535, 3536, 3537, 3538, 3539, 3540, 3541, 3542,
       3543, 3544, 3545, 3546, 3547, 3548, 3549, 3550, 3551, 3552, 3553,
       3554, 3555, 3556, 3557, 3558, 3559, 3560, 3561, 3562, 3563, 3564,
       3565, 3566, 3567, 3568, 3569, 3570, 3571, 3572, 3573, 3574, 3575,
       3576, 3577, 3578, 3579, 3580, 3581, 3582, 3583, 3584, 3585, 3586,
       3587, 3588, 3589, 3590, 3591, 3592, 3593, 3594, 3595, 3596, 3597,
       3598, 3599, 3600, 3601, 3602, 3603, 3604, 3605, 3606, 3607, 3608,
       3609, 3610, 3611, 4627, 4628, 4629, 4630, 4631, 4632, 4633])

In [11]:
# Coordinate of missing values
np.where(np.asanyarray(pd.isnull(train)))

(array([ 539,  540,  541, ..., 4633, 4633, 4633]),
 array([ 2,  2,  2, ..., 24, 25, 27]))

Lets have a look to 1 row

In [12]:
pd.DataFrame(train.iloc[539+(7*11),:]).T

,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,flvis1SOL0,hcoulimSOL0,huH2,iwcSOL0,nbSOL0_HMoy,nH20,ntSOL0_HMoy,pMER0,rr1SOL0,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
2014-03-30,6088001,11.3,NaN,0,0,1.0,0.559216,-319805,-39191.8,1483.23,83410.7,55.148,70.6249,0,0,0,8,1016.91,0,0,13.4265,0.373662,0.00352482,-0.00676651,8.31097,-0.378848,11.1698,-0.0692918,30,mars

### Lets see if one can interpolate the missing values

In [13]:
for i in range(1,8):
    print(train.index[539-7*i], 
          ' - capeinsSOL0 val : {} for station {}'.format(train.capeinsSOL0[539-7*i], train.insee[539-7*i]))
print('interpolate : {}'.format(train.capeinsSOL0.interpolate()[539]))

2014-03-18 00:00:00  - capeinsSOL0 val : 7.71462916159 for station 6088001
2014-03-17 00:00:00  - capeinsSOL0 val : 7.90780714985 for station 6088001
2014-03-16 00:00:00  - capeinsSOL0 val : 0.0513649447693 for station 6088001
2014-03-15 00:00:00  - capeinsSOL0 val : 0.0677757209742 for station 6088001
2014-03-14 00:00:00  - capeinsSOL0 val : 0.0111768147617 for station 6088001
2014-03-13 00:00:00  - capeinsSOL0 val : 0.000466305369627 for station 6088001
2014-03-12 00:00:00  - capeinsSOL0 val : 0.00520225202489 for station 6088001
interpolate : 5.90483128579

In [14]:
for i in range(1,25):
    print(train.capeinsSOL0[539+7*i])

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
0.206808648014
0.0500519458001
0.201991389069
0.0249546219275
0.0984533317242
0.0
5.07420018139
0.234053969383
2.89071020736
7.7248343433
69.6666567773
8.9741141126

### Difficile d'interpoler (ici pour capeinsSOL0)

In [15]:
for i in range(1,5):
    print(train.index[4627-7*i], 
          ' - flir1SOL0 val : {} for station {}'.format(train.flir1SOL0[4627-7*i], train.insee[4627-7*i]))
print('interpolate : {}'.format(train.flir1SOL0.interpolate()[4627]))
for i in range(1,5):
    print(train.flir1SOL0[4627+7*i])

2015-10-23 00:00:00  - flir1SOL0 val : -339351.45561 for station 6088001
2015-10-22 00:00:00  - flir1SOL0 val : -335334.200187 for station 6088001
2015-10-21 00:00:00  - flir1SOL0 val : -391646.537802 for station 6088001
2015-10-20 00:00:00  - flir1SOL0 val : -370097.530793 for station 6088001
interpolate : -165042.958353
-103793.381605
-100742.319785
-82790.7855024
-344353.275807

### Ici ca marche. A explorer

### Replace na val en utilisant le groupby. Faire des stats par city

https://machinelearningmastery.com/time-series-data-visualization-with-python/

In [16]:
# train.insee = train.insee.astype('category')
# groupby_city = train.groupby('insee')
# groupby_city.capeinsSOL0.apply(pd.Series.interpolate)

## Missing values by file

In [17]:
df_miss_val = pd.DataFrame(columns=train.columns)
for i in range(1,37):
    tmp =pd.read_csv(data_path + 'train_' + str(i) + '.csv', 
                     header=0, delimiter=";",decimal=',',
                     parse_dates=['date'], index_col='date')
    df_miss_val = pd.concat([df_miss_val, pd.DataFrame(tmp.isnull().sum()).T], axis=0 )
df_miss_val

,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,flvis1SOL0,hcoulimSOL0,huH2,iwcSOL0,nbSOL0_HMoy,nH20,ntSOL0_HMoy,pMER0,rr1SOL0,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
0,0,0,581,7,119,126,126,7,0,7,7,7,126,7,7,322,7,140,7,126,126,126,126,126,7,126,7,119,0,0
0,0,0,581,7,126,126,126,14,14,14,14,7,126,7,7,329,7,140,7,126,119,119,119,119,7,126,7,126,0,0
0,0,0,581,7,119,126,126,14,7,14,14,0,126,7,7,329,0,140,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,581,7,126,126,126,14,7,14,14,7,126,7,7,329,7,140,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,581,7,119,126,126,14,7,14,14,7,126,7,7,329,7,140,7,119,126,126,126,126,0,126,7,126,0,0
0,0,0,588,0,126,126,126,14,10,14,14,7,126,7,7,329,0,140,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,588,7,119,126,126,14,7,15,14,7,126,0,7,329,7,140,7,119,126,126,126,126,7,126,7,126,0,0
0,0,0,588,7,126,126,126,14,7,14,14,7,119,7,7,329,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,588,0,126,126,126,14,7,14,14,7,126,7,7,336,7,133,7,119,126,126,126,126,7,126,7,126,0,0
0,0,3,588,7,126,126,126,14,7,15,14,7,119,7,0,336,7,133,7,119,126,126,126,126,7,126,7,126,0,0
0,0,2,595,0,119,126,126,14,7,14,14,7,126,0,7,336,0,133,7,119,126,126,126,126,7,126,7,126,0,0
0,0,2,595,7,119,126,126,14,7,7,14,7,126,7,7,336,7,133,7,119,126,126,126,126,7,126,7,126,0,0
0,0,2,602,0,119,126,126,14,7,7,14,7,126,7,7,336,7,133,7,119,126,126,126,126,7,126,0,126,0,0
0,0,2,602,0,126,126,126,14,7,7,7,7,126,7,7,336,7,133,7,126,126,126,126,126,0,126,7,126,0,0
0,0,1,602,7,119,126,126,14,7,7,7,7,119,7,7,336,7,133,7,119,126,126,126,126,7,126,7,126,0,0
0,0,1,602,0,126,126,126,14,7,7,7,7,126,7,7,336,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,2,602,0,119,126,126,14,7,7,7,7,126,7,7,336,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,609,0,126,126,126,14,7,7,7,7,126,7,7,329,7,126,7,126,126,126,126,126,0,126,7,126,0,0
0,0,2,609,7,126,126,126,14,7,7,7,7,126,0,7,336,7,133,7,119,126,126,126,126,7,126,7,126,0,0
0,0,0,609,0,126,126,126,14,8,7,7,7,126,7,0,336,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,609,0,126,126,126,14,7,7,7,7,126,0,7,336,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,609,7,126,126,126,14,7,7,7,7,126,7,7,336,7,126,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,609,7,119,126,126,7,7,7,7,7,126,7,7,336,7,133,7,119,119,126,119,119,7,126,7,126,0,0
0,0,0,616,7,119,126,126,7,7,7,7,7,126,7,7,329,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,616,7,126,126,126,7,7,7,7,0,126,7,7,336,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,609,7,126,126,126,7,7,7,7,7,126,7,7,336,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,616,7,126,126,126,7,7,7,7,7,126,7,7,329,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,609,7,126,126,126,7,7,7,7,0,126,7,7,336,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,609,7,126,126,126,7,7,7,7,7,126,0,7,336,7,133,7,126,126,126,126,126,7,126,7,126,0,0
0,0,0,616,0,126,126,126,7,7,7,7,0,126,7,7,336,7,133,7,119,126,126,126,126,7,126,0,126,0,0
0,0,0,133,140,126,133,133,140,147,147,140,133,133,133,133,133,133,126,140,133,133,133,133,133,140,133,133,133,0,0
0,0,0,133,140,126,133,133,133,140,140,133,133,133,133,133,133,133,126,133,133,133,133,133,133,140,133,133,133,0,0
0,0,0,133,140,133,133,133,133,140,140,133,126,133,133,133,133,133,133,133,126,133,133,133,133,140,133,133,133,0,0
0,0,1,133,140,133,133,133,133,140,140,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,133,0,0
0,0,1,133,140,133,133,133,133,140,140,133,133,133,133,126,133,133,133,133,133,133,133,133,133,140,133,133,126,0,0
0,0,1,133,140,126,133,133,133,140,140,133,133,133,133,133,126,133,133,133,126,126,126,126,126,140,133,133,133,0,0

# Link between temp and ech

## Data processing
Stack data

In [57]:
from os import listdir

temp_ech = None
cols = ['date', 'insee', 'tH2_obs', 'tH2', 'ech']
for file_ in listdir(data_path):
    if temp_ech is None:
        temp_ech = pd.read_csv(data_path + file_, header=0, 
                               delimiter=";",decimal=',',parse_dates=['date'], index_col='date', usecols=cols)
    else:
        temp_ech = pd.concat([temp_ech, 
                              pd.read_csv(data_path + file_, header=0, delimiter=";",decimal=',', 
                                          parse_dates=['date'], index_col='date', usecols=cols
                                         )])
# train.to_csv(data_path + "train.csv", sep=';', index=False)
temp_ech.sort_values(['insee', 'ech'], ascending=[True, True], inplace=True)
temp_ech.head(8)

              insee  tH2_obs        tH2  ech
date
2014-01-01  6088001      5.5   9.034338    1
2014-01-02  6088001      7.9  10.600003    1
2014-01-03  6088001      9.1  12.007224    1
2014-01-04  6088001     11.3  11.933810    1
2014-01-05  6088001     11.2  12.305508    1
2014-01-06  6088001      8.0  11.695416    1
2014-01-07  6088001      8.4  11.552058    1
2014-01-08  6088001     10.3  12.796752    1

## Analysis

In [59]:
print(max(temp_ech.index)-min(temp_ech.index))
temp_ech['2014-01-01']

880 days 00:00:00

               insee  tH2_obs        tH2  ech
date
2014-01-01   6088001      5.5   9.034338    1
2014-01-01   6088001      5.4   8.153351    2
2014-01-01   6088001      5.1   8.402343    3
2014-01-01   6088001      4.7   8.245682    4
2014-01-01   6088001      4.7   8.514988    5
2014-01-01   6088001      4.7   9.015853    6
2014-01-01   6088001      4.8   9.179396    7
2014-01-01   6088001      5.3   9.562431    8
2014-01-01   6088001      6.2  10.131776    9
2014-01-01   6088001      7.4  10.439922   10
2014-01-01   6088001     10.0  11.069077   11
2014-01-01   6088001     10.0  11.699109   12
2014-01-01   6088001     10.3  12.153840   13
2014-01-01   6088001     10.6  12.464955   14
2014-01-01   6088001      9.8  12.101505   15
2014-01-01   6088001      8.4  12.021394   16
2014-01-01   6088001      8.6  11.785885   17
2014-01-01   6088001      7.8  11.401471   18
2014-01-01   6088001      7.7  11.205267   19
2014-01-01   6088001      7.9  11.167496   20
2014-01-01   6088001      8.1  11.227059   21
2014-01-01   6088001      7.8  11.187069   22
2014-01-01   6088001      8.0  11.142321   23
2014-01-01   6088001      8.2  11.024646   24
2014-01-01   6088001      7.9  10.973166   25
2014-01-01   6088001      7.9  10.941004   26
2014-01-01   6088001      8.2  11.033950   27
2014-01-01   6088001      8.0  10.925451   28
2014-01-01   6088001      7.8  11.262741   29
2014-01-01   6088001      7.8  11.657800   30
...              ...      ...        ...  ...
2014-01-01  75114001      7.0   7.208069    1
2014-01-01  75114001      6.9   7.282375    2
2014-01-01  75114001      7.2   7.424495    3
2014-01-01  75114001      7.0   6.700273    4
2014-01-01  75114001      7.0   6.784263    5
2014-01-01  75114001      7.0   7.359250    6
2014-01-01  75114001      7.1   7.147274    7
2014-01-01  75114001      7.3   6.889038    8
2014-01-01  75114001      7.7   6.962505    9
2014-01-01  75114001      8.1   7.575566   10
2014-01-01  75114001      8.7   8.255433   11
2014-01-01  75114001      9.1   8.632080   12
2014-01-01  75114001      9.3   9.289964   13
2014-01-01  75114001      9.8   9.621031   14
2014-01-01  75114001     10.4   9.844250   15
2014-01-01  75114001     10.7  10.010461   16
2014-01-01  75114001     10.4   9.981056   17
2014-01-01  75114001      9.7   9.821576   18
2014-01-01  75114001      9.5   9.400470   19
2014-01-01  75114001      9.5   9.273802   20
2014-01-01  75114001     10.3   9.455015   21
2014-01-01  75114001     10.3   9.702389   22
2014-01-01  75114001     10.4  10.003702   23
2014-01-01  75114001     10.8   9.940145   24
2014-01-01  75114001     10.8  10.317167   25
2014-01-01  75114001     10.9   9.685958   26
2014-01-01  75114001      9.5  10.071367   27
2014-01-01  75114001      9.6  10.283924   28
2014-01-01  75114001     10.4   9.272826   29
2014-01-01  75114001     10.3   9.153009   30

[210 rows x 4 columns]

On peut voir que quand temp à n+1 with ech=1 == temp à n with ech=25 but not true with other cols

Dealing with missing val :  
https://gallery.cortanaintelligence.com/Experiment/Methods-for-handling-missing-values-1