In [1]:
import pandas as pd
import sys
sys.path.append('../')
pd.options.display.max_columns = 50

In [2]:
data_path = '../data/'

In [3]:
train = pd.read_csv(data_path + "raw/train_30.csv", header=0, delimiter=";",decimal=',',
                    parse_dates=['date'], index_col='date')

In [4]:
train.head(5)

,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,flvis1SOL0,hcoulimSOL0,huH2,iwcSOL0,nbSOL0_HMoy,nH20,ntSOL0_HMoy,pMER0,rr1SOL0,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2014-01-01,6088001,7.8,38.245480,0.0,0.0,1.0,1.423250,-100292.923371,-108461.086720,-26163.859606,0.0,503.778766,79.213137,0.0,5.857651,0.0,7.961908,1014.035619,-0.012267,0.000000,11.657800,-0.856984,0.004141,-0.003377,8.088612,-1.244766,20.734754,-4.553151,30,janvier
2014-01-01,31069001,9.2,22.303022,0.0,0.0,3.0,2.408082,-18815.426563,-11894.040428,14095.776354,0.0,729.086833,90.978967,0.0,8.000000,0.0,8.000000,1010.331761,0.145260,0.008258,8.023305,1.454075,0.001222,0.000489,10.107755,1.112657,18.586576,3.962234,30,janvier
2014-01-01,33281001,9.3,194.861009,0.0,0.0,4.0,4.535840,-61941.404781,-81870.097549,179862.881572,0.0,897.634612,92.801612,0.0,7.744064,0.0,7.969099,1006.380424,0.074460,0.018740,11.243986,-0.127558,0.000368,0.000737,10.006774,7.714926,19.378744,8.029170,30,janvier
2014-01-01,35281001,7.6,182.890703,0.0,0.0,3.0,4.881681,-227613.396837,2019.225971,176067.945920,0.0,262.459860,90.571364,0.0,3.776259,0.0,5.286151,999.551696,0.000000,0.000000,7.623182,0.243659,0.001054,-0.001233,7.359926,4.667206,13.485018,6.427848,30,janvier
2014-01-01,59343001,9.9,31.526467,0.0,0.0,3.0,8.086883,-80526.229570,-76652.492578,192696.865313,0.0,1073.007502,88.712385,0.0,6.468433,0.0,8.000000,994.476250,-0.000781,0.000000,9.012843,-0.363116,-0.000285,0.000543,7.512743,6.852292,14.622403,11.882253,30,janvier

In [5]:
train.tail(1)

,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,flvis1SOL0,hcoulimSOL0,huH2,iwcSOL0,nbSOL0_HMoy,nH20,ntSOL0_HMoy,pMER0,rr1SOL0,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2016-05-30,75114001,12.5,2.818198,0.0,0.0,4.0,4.730778,-25714.018871,-91268.391242,-24893.136842,41743.419074,648.958456,87.014844,0.0,8.0,0.0,8.0,1008.250199,0.824805,0.080059,12.343202,-1.16857,0.000467,0.00131,14.466925,8.895326,30.78891,-3.814131,30,mai

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6167 entries, 2014-01-01 to 2016-05-30
Data columns (total 30 columns):
insee              6167 non-null int64
tH2_obs            6167 non-null float64
capeinsSOL0        5551 non-null float64
ciwcH20            6167 non-null float64
clwcH20            6041 non-null float64
ddH10_rose4        6041 non-null object
ffH10              6041 non-null float64
flir1SOL0          6160 non-null float64
fllat1SOL0         6160 non-null float64
flsen1SOL0         6160 non-null float64
flvis1SOL0         6160 non-null float64
hcoulimSOL0        6167 non-null float64
huH2               6041 non-null float64
iwcSOL0            6160 non-null float64
nbSOL0_HMoy        6160 non-null float64
nH20               5831 non-null float64
ntSOL0_HMoy        6160 non-null float64
pMER0              6034 non-null float64
rr1SOL0            6160 non-null float64
rrH20              6048 non-null float64
tH2                6041 non-null float64
tH2_VGrad_2.100    6041 non-null float64
tH2_XGrad          6041 non-null float64
tH2_YGrad          6041 non-null float64
tpwHPA850          6160 non-null float64
ux1H10             6041 non-null float64
vapcSOL0           6167 non-null float64
vx1H10             6041 non-null float64
ech                6167 non-null int64
mois               6167 non-null object
dtypes: float64(26), int64(2), object(2)
memory usage: 1.5+ MB

ddH10_rose4, mois object type => category ?  
There are missing values

In [ ]:
train.describe(include='all')

**tH2_obs** :	Observation de la température à 2 mètres in situ- au point station (prédictant)  
**capeinsSOL0**: 	Energie potentielle convective  
**ciwcH20**: 	Fraction de glace nuageuse à 20 mètres  
**clwcH20**: 	Fraction d'eau nuageuse à 20 mètres  
**ddH10_rose4**: 	Direction du vent à 10 mètres en rose4  
**ffH10**: 	Force du vent à 10 mètres en m/s  
**flir1SOL0**: 	Flux Infra-rouge en J/m2  
**fllat1SOL0**: 	Flux de chaleur latente en J/m2  
**flsen1SOL0**: 	Flux de chaleur sensible en J/m2  
**flvis1SOL0**: 	Flux visible en J/m2  
**hcoulimSOL0**: 	Hauteur de la couche limite en mètres  
**huH2**: 	Humidité 2mètres en %  
**iwcSOL0**: 	Réservoir neige kg/m2 (équivalent en eau liquide des chutes de neige)  
**nbSOL0_HMoy**: 	Nébulosité basse (moyenne sur les 6 points de grille autour de la station) (fraction en octat du ciel occulté)  
**nH20**: 	Fraction nuageuse à 20 mètres  
**ntSOL0_HMoy**: 	Nébulosité totale (moyenne sur les 6 points de grille autour de la station)  
**pMER0**: 	Pression au niveau de la mer  
**rr1SOL0**: 	Précipitation horaire au niveau du sol  
**rrH20**: 	Précipitation horaire à 20 mètres  
**tH2**: 	Température à 2 mètres du modèle AROME  
**tH2_VGrad_2.100**: 	Gradient vertical de température entre 2 mètres et 100 mètres  
**tH2_XGrad**: 	Gradient zonal de température à 2 mètres  
**tH2_YGrad**: 	Gradient méridien de température à 2 mètres  
**tpwHPA850**: 	Température potentielle au niveau 850 hPa  
**ux1H10**: 	Rafale 1 minute du vent à 10 mètres composante zonale  
**vapcSOL0**: 	Colonne de vapeur d'eau  
**vx1H10**: 	Rafale 1 minute du vent à 10 mètres composante verticale  
**ech** : 	Echéance de validité = date