In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import sys
sys.path.append('../')

pd.options.display.max_columns = 35
raw_path = '../data/raw/'

In [38]:
train = pd.read_csv(raw_path + "train_1.csv", header=0, delimiter=";",decimal=',',
                    parse_dates=['date'], index_col='date')
train.head()

,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,flvis1SOL0,hcoulimSOL0,huH2,iwcSOL0,nbSOL0_HMoy,nH20,ntSOL0_HMoy,pMER0,rr1SOL0,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2014-01-01,6088001,5.5,0.198757,0.0,0.000000,4.0,1.970260,-386960.595711,-94260.682523,-40545.510054,3.600000e-12,66.600368,79.211738,0.0,0.000000,0.00000,4.173220,1019.543734,0.000000,0.000000,9.034338,-0.084999,0.007725,-0.013024,3.852825,1.330320,10.664653,-2.853134,1,janvier
2014-01-01,31069001,4.8,8.590036,0.0,0.000000,3.0,2.755962,-200181.123871,2282.951687,14399.918192,3.600000e-12,57.954614,83.862960,0.0,0.012709,0.00000,5.736559,1018.290035,0.000000,0.000000,3.853128,1.396138,0.005036,0.000810,8.476699,-2.040020,15.462043,3.019614,1,janvier
2014-01-01,33281001,8.9,69.203856,0.0,0.000001,3.0,3.411283,-62310.340297,9483.691316,64790.365136,3.600000e-12,202.985582,95.711708,0.0,4.792424,0.15494,7.844538,1016.139756,0.081315,0.005008,8.585184,0.387329,0.001372,0.000010,7.643070,3.029610,17.343600,4.889849,1,janvier
2014-01-01,35281001,6.8,65.270316,0.0,0.000000,3.0,4.655633,-61612.120075,-48356.475831,127450.659115,3.600000e-12,343.974193,90.178385,0.0,7.074669,0.00000,7.377704,1009.321502,0.029946,0.008139,7.304130,-0.089267,0.000401,-0.000067,7.089030,-1.027446,13.981847,8.079973,1,janvier
2014-01-01,59343001,5.4,5.932505,0.0,0.000000,3.0,5.855930,-39553.109955,-1022.914242,117800.171480,3.600000e-12,656.972741,92.680476,0.0,7.995791,0.00000,7.995791,1008.724301,0.000000,0.000000,5.829715,-0.489606,0.000204,-0.000191,4.546075,2.802554,9.941609,7.955489,1,janvier

In [39]:
train.drop(axis=1, columns=['capeinsSOL0', 'ciwcH20', 'clwcH20', 'ddH10_rose4', 'rr1SOL0', 'rrH20', 'ffH10', 
                            'flir1SOL0', 'hcoulimSOL0','huH2', 'nH20', 'iwcSOL0', 'tH2_XGrad'], 
           inplace=True)

print(train.columns)

Index([u'insee', u'tH2_obs', u'fllat1SOL0', u'flsen1SOL0', u'flvis1SOL0',
       u'nbSOL0_HMoy', u'ntSOL0_HMoy', u'pMER0', u'tH2', u'tH2_VGrad_2.100',
       u'tH2_YGrad', u'tpwHPA850', u'ux1H10', u'vapcSOL0', u'vx1H10', u'ech',
       u'mois'],
      dtype='object')

## Check where the missing vals are

In [40]:
# Total missing val per var
pd.DataFrame(train.isnull().sum()).T

,insee,tH2_obs,fllat1SOL0,flsen1SOL0,flvis1SOL0,nbSOL0_HMoy,ntSOL0_HMoy,pMER0,tH2,tH2_VGrad_2.100,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
0,0,0,0,7,7,7,7,140,126,126,126,7,126,7,119,0,0

In [18]:
col = np.where(train.isnull().sum() == 140)[0]
print(np.where(np.asanyarray(pd.isnull(train.iloc[:,col])
                            )
              )[0]
     )

[2653 2654 2655 2656 2657 2658 2659 2660 2661 2662 2663 2664 2665 2666 2667
 2668 2669 2670 2671 2672 2673 2674 2675 2676 2677 2678 2679 2680 2681 2682
 2683 2684 2685 2686 2687 2688 2689 2690 2691 2692 2693 2694 2695 2696 2697
 2698 2699 2700 2701 2702 2703 2704 2705 2706 2707 2708 2709 2710 2711 2712
 2713 2714 2715 2716 2717 2718 2719 2720 2721 2722 2723 2724 2725 2726 2727
 2728 2729 2730 2731 2732 2733 2734 2735 2736 2737 2738 2739 2740 2741 2742
 2743 2744 2745 2746 2747 2748 2749 2750 2751 2752 2753 2754 2755 2756 2757
 2758 2759 2760 2761 2762 2763 2764 2765 2766 2767 2768 2769 2770 2771 2968
 2969 2970 2971 2972 2973 2974 2975 2976 2977 2978 2979 2980 2981 4627 4628
 4629 4630 4631 4632 4633]

In [32]:
pd.DataFrame(train.iloc[2653-7*2, :]).T

,insee,tH2_obs,fllat1SOL0,flsen1SOL0,flvis1SOL0,nbSOL0_HMoy,nH20,ntSOL0_HMoy,pMER0,tH2,tH2_VGrad_2.100,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
2015-01-13,6088001,6.4,-84855.4,-40341.1,3.6e-12,0,0,0,1029.81,10.2807,-0.572706,-0.0115487,5.5274,1.02739,5.14861,-3.90169,1,janvier

## Lets see if one can interpolate the missing values

In [44]:
for i in sorted(range(1,12), reverse=True):
    print(train.index[2653-7*i].date(), 
          '- tH2 val : {} for station {}'.format(train.pMER0[2653-7*i], train.insee[2653-7*i]))
print('interpolate : {}'.format(train.pMER0.interpolate()[2653]))

2015-01-04 - tH2 val : 1018.97176217 for station 6088001
2015-01-05 - tH2 val : 1028.48804196 for station 6088001
2015-01-06 - tH2 val : 1024.79514314 for station 6088001
2015-01-07 - tH2 val : 1026.18584194 for station 6088001
2015-01-08 - tH2 val : 1031.17309924 for station 6088001
2015-01-09 - tH2 val : 1031.29699875 for station 6088001
2015-01-10 - tH2 val : 1026.14405286 for station 6088001
2015-01-11 - tH2 val : 1018.12560959 for station 6088001
2015-01-12 - tH2 val : 1027.1623074 for station 6088001
2015-01-13 - tH2 val : 1029.80733405 for station 6088001
2015-01-14 - tH2 val : 1023.34216765 for station 6088001
interpolate : 1012.72057513

In [70]:
for i in range(1,20):
    print(train.index[2653+7*i].date(), train.pMER0[2653+7*i])

2015-01-16 nan
2015-01-17 nan
2015-01-18 nan
2015-01-19 nan
2015-01-20 nan
2015-01-21 nan
2015-01-22 nan
2015-01-23 nan
2015-01-24 nan
2015-01-25 nan
2015-01-26 nan
2015-01-27 nan
2015-01-28 nan
2015-01-29 nan
2015-01-30 nan
2015-01-31 nan
2015-02-01 987.346832798
2015-02-02 997.410441132
2015-02-03 1000.47483154

In [37]:
gb_cities = train.groupby('insee')
print(gb_cities.pMER0.resample('W').median()[6088001]['2015-01'])
# print(gb_cities.index.week[2653-7*3])

date
2015-01-04    1025.464668
2015-01-11    1026.185842
2015-01-18    1027.162307
2015-01-25            NaN
Freq: W-SUN, Name: pMER0, dtype: float64

Seems to work when replacing with median with respect to insee

In [68]:
for i in sorted(range(1,5), reverse=True):
    print(train.index[4627-7*i].date(), 
          ' - pMER0 val : {} for station {}'.format(train.pMER0[4627-7*i], train.insee[4627-7*i]))
print('interpolate : {}'.format(train.pMER0.interpolate(method='krogh')[4627]))
for i in range(1,5):
    print(train.pMER0[4627+7*i])

2015-10-20  - pMER0 val : 1012.55751169 for station 6088001
2015-10-21  - pMER0 val : 1013.93150136 for station 6088001
2015-10-22  - pMER0 val : 1012.32617746 for station 6088001
2015-10-23  - pMER0 val : 1014.89701622 for station 6088001
interpolate : nan
1020.96093239
1021.15937603
1018.08701013
1016.787766

In [114]:
gb_cities.pMER0.apply(lambda group: group.interpolate(method='time'))[6088001]

date
2014-01-01    1019.543734
2014-01-02    1016.285475
2014-01-03    1016.179675
2014-01-04    1018.001728
2014-01-05    1001.286135
2014-01-06    1014.476222
2014-01-07    1021.515290
2014-01-08    1025.810319
2014-01-09    1025.370616
2014-01-10    1018.577957
2014-01-11    1020.496801
2014-01-12    1021.231866
2014-01-13    1020.543744
2014-01-14    1007.567191
2014-01-15    1007.248734
2014-01-16    1014.154993
2014-01-17    1006.220309
2014-01-18    1008.693275
2014-01-19    1001.590979
2014-01-20     999.222034
2014-01-21    1000.706250
2014-01-22    1007.186409
2014-01-23    1013.927099
2014-01-24    1012.079066
2014-01-25    1009.165897
2014-01-26    1011.444994
2014-01-27    1002.573224
2014-01-28     998.046529
2014-01-29     999.331859
2014-01-30    1004.157276
                 ...
2016-05-01    1008.775652
2016-05-02    1011.814069
2016-05-03    1014.128978
2016-05-04    1014.920939
2016-05-05    1016.163177
2016-05-06    1018.688295
2016-05-07    1014.639645
2016-05-08    1012.036921
2016-05-09    1014.305252
2016-05-10    1012.462109
2016-05-11    1006.512905
2016-05-12    1002.547025
2016-05-13     998.354135
2016-05-14    1000.644211
2016-05-15    1008.628662
2016-05-16    1013.353579
2016-05-17    1014.894253
2016-05-18    1016.198122
2016-05-19    1011.343963
2016-05-20    1013.099908
2016-05-21    1018.719619
2016-05-22    1018.104221
2016-05-23    1011.775526
2016-05-24    1009.546649
2016-05-25    1011.618792
2016-05-26    1014.727518
2016-05-27    1013.829961
2016-05-28    1014.262059
2016-05-29    1010.835516
2016-05-30    1008.397968
Name: pMER0, Length: 881, dtype: float64

In [115]:
# Interpolate on every variable for a city
train[train['insee'] == 6088001].apply(lambda group: group.interpolate(method='time'))

,insee,tH2_obs,fllat1SOL0,flsen1SOL0,flvis1SOL0,nbSOL0_HMoy,ntSOL0_HMoy,pMER0,tH2,tH2_VGrad_2.100,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
date,,,,,,,,,,,,,,,,,
2014-01-01,6088001,5.500000,-94260.682523,-40545.510054,3.600000e-12,0.000000,4.173220,1019.543734,9.034338,-0.084999,-0.013024,3.852825,1.330320,10.664653,-2.853134,1,janvier
2014-01-02,6088001,7.900000,-123893.703248,-55913.162861,3.600000e-12,5.483689,7.209474,1016.285475,10.600003,-0.337017,-0.004172,8.109257,0.809966,17.077868,-4.782408,1,janvier
2014-01-03,6088001,9.100000,-53512.199638,-23413.425466,3.600000e-12,4.941245,7.655754,1016.179675,12.007224,-0.596205,-0.006993,9.721419,1.018976,16.333999,-3.865133,1,janvier
2014-01-04,6088001,11.300000,-131036.237177,-42751.253062,3.600000e-12,7.934077,8.000000,1018.001728,11.933810,-1.172161,-0.003292,12.533825,-7.484611,27.220152,-1.057651,1,janvier
2014-01-05,6088001,11.200000,-123946.937554,-35440.935825,3.600000e-12,7.183460,7.711464,1001.286135,12.305508,-1.022087,-0.002615,10.467268,-5.320130,21.407840,-2.453392,1,janvier
2014-01-06,6088001,8.000000,-112912.158729,-13929.002460,3.600000e-12,0.000000,4.453125,1014.476222,11.695416,1.151710,-0.011150,6.938416,2.152495,10.930317,-4.302690,1,janvier
2014-01-07,6088001,8.400000,-43900.061805,-17562.001410,3.600000e-12,2.869731,7.437644,1021.515290,11.552058,-0.123553,-0.011017,11.195802,1.888266,21.123302,-3.194085,1,janvier
2014-01-08,6088001,10.300000,-39121.911623,-11432.661993,3.600000e-12,6.409002,6.906421,1025.810319,12.796752,-0.827507,-0.002950,8.427142,1.109977,19.407148,-4.005782,1,janvier
2014-01-09,6088001,8.800000,-59799.915103,-27056.870458,3.600000e-12,0.048172,7.999284,1025.370616,10.937821,-0.448094,-0.004895,8.543727,2.153825,15.022207,-4.489819,1,janvier
2014-01-10,6088001,8.100000,-59670.742938,-43729.671953,3.600000e-12,0.903166,4.530004,1018.577957,8.723040,0.798440,-0.004505,9.631254,3.038197,14.081717,-3.376080,1,janvier
2014-01-11,6088001,9.900000,-67967.197591,-19220.388272,3.600000e-12,5.622941,5.622941,1020.496801,12.110978,-0.552698,-0.002007,9.614510,1.731898,16.706565,-4.134482,1,janvier
2014-01-12,6088001,9.700000,-48960.214209,-9084.189044,3.600000e-12,0.000103,7.358956,1021.231866,12.255418,-0.313970,-0.005618,9.084738,2.685691,17.639448,-4.371675,1,janvier
2014-01-13,6088001,9.100000,-32162.231710,-15991.470859,3.600000e-12,0.633940,0.706850,1020.543744,11.387278,-0.427163,-0.007418,9.458302,1.731813,19.758195,-3.753777,1,janvier
2014-01-14,6088001,9.400000,-74584.703556,-31900.181041,3.600000e-12,8.000000,8.000000,1007.567191,10.919971,-1.167881,-0.001764,9.811744,-0.860423,21.680833,-4.486169,1,janvier
2014-01-15,6088001,6.400000,-113947.710065,-43367.224243,3.600000e-12,0.036522,0.036522,1007.248734,9.391838,0.557571,-0.009850,5.663099,1.798886,9.816296,-4.470066,1,janvier
2014-01-16,6088001,7.900000,-73951.278724,-20591.594032,3.600000e-12,0.028744,8.000000,1014.154993,11.089960,0.193139,-0.014069,5.211776,1.571391,13.592699,-3.788306,1,janvier
2014-01-17,6088001,11.300000,-47342.840152,-21182.939128,3.600000e-12,7.726555,8.000000,1006.220309,11.740941,-0.734936,-0.005313,12.631990,4.417861,27.784999,-6.431218,1,janvier
2014-01-18,6088001,8.600000,-64811.817837,-41074.647967,3.600000e-12,5.354339,7.948420,1008.693275,10.671289,-0.990972,-0.002008,7.081219,0.646140,16.131967,-4.890489,1,janvier
2014-01-19,6088001,9.400000,-61935.334169,-23209.025459,3.600000e-12,8.000000,8.000000,1001.590979,12.119265,-0.943011,-0.004335,9.964848,-2.124425,21.303006,-3.730847,1,janvier
2014-01-20,6088001,10.000000,-91123.581645,-39566.967645,3.600000e-12,6.963020,7.758714,999.222034,10.601276,-0.699394,-0.002442,9.949694,0.751249,17.325161,-5.102403,1,janvier
2014-01-21,6088001,8.500000,-58441.275372,-28424.549728,3.600000e-12,0.032781,3.521590,1000.706250,10.371562,0.167088,-0.005767,8.703764,3.809004,15.732445,1.645584,1,janvier
2014-01-22,6088001,9.000000,-60718.452473,-918.098937,3.600000e-12,0.001180,0.002364,1007.186409,12.914485,0.392806,-0.008929,8.354700,-1.972293,14.118178,-2.390266,1,janvier
2014-01-23,6088001,8.000000,-67189.544967,-21569.577503,3.600000e-12,0.042671,8.000000,1013.927099,10.490136,0.396145,-0.010232,4.863798,0.640471,11.134710,-2.975674,1,janvier
2014-01-24,6088001,7.200000,-79851.662724,-37010.159567,3.600000e-12,0.618644,0.618881,1012.079066,9.683266,-0.669752,-0.006640,6.028458,2.677269,12.158478,-3.321900,1,janvier
2014-01-25,6088001,5.800000,-202447.069729,-37646.840819,3.600000e-12,0.000000,0.000000,1009.165897,9.091553,1.682957,-0.010887,2.486180,3.590071,2.985129,-0.045299,1,janvier
2014-01-26,6088001,6.500000,-146476.751395,-23182.408776,3.600000e-12,0.000000,0.000000,1011.444994,10.232710,1.215691,-0.010835,7.200542,2.008084,5.780051,-3.736118,1,janvier
2014-01-27,6088001,8.700000,-191247.599593,13468.366970,3.600000e-12,0.233719,1.070706,1002.573224,12.033375,-0.399004,-0.007015,9.719861,7.861380,17.809876,4.936759,1,janvier
2014-01-28,6088001,6.900000,-178722.410483,-41703.255208,3.600000e-12,0.007630,7.991674,998.046529,9.616165,-0.408614,-0.006213,5.425943,2.765554,7.375424,-3.421614,1,janvier
2014-01-29,6088001,4.900000,-148478.964537,-59958.970678,3.600000e-12,2.332172,2.619687,999.331859,8.383898,-0.161371,-0.008205,5.037658,-0.024832,11.165142,-4.240249,1,janvier
2014-01-30,6088001,6.400000,-114978.316494,-36520.434977,3.600000e-12,0.986529,8.000000,1004.157276,9.399899,-0.047274,-0.009989,6.655515,-0.939583,12.834486,-3.541022,1,janvier
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-05-01,6088001,10.500000,-98681.764846,-18337.221563,3.600000e-12,0.000000,0.000000,1008.775652,12.935013,-0.796170,-0.005561,7.662997,3.088310,10.460128,-1.021663,1,mai
2016-05-02,6088001,12.900000,-108904.606558,-12768.106354,3.600000e-12,0.000000,0.004837,1011.814069,13.305022,-0.229488,-0.008572,9.027597,2.888714,13.964562,0.112028,1,mai
2016-05-03,6088001,14.400000,-92081.362271,16662.612489,3.600000e-12,0.000000,1.138026,1014.128978,16.074808,2.610943,0.001642,11.302114,2.935066,13.534040,-2.055100,1,mai
2016-05-04,6088001,14.900000,-49781.903652,8854.520714,3.600000e-12,0.000000,0.017175,1014.920939,16.953891,1.377687,-0.005096,9.538224,0.874471,11.594631,-0.524021,1,mai
2016-05-05,6088001,14.600000,-165223.926481,18917.526839,3.600000e-12,0.000000,0.000000,1016.163177,16.564963,1.162683,-0.004830,12.124038,2.147331,15.169652,-3.756599,1,mai
2016-05-06,6088001,14.300000,-98825.907675,34010.384078,3.600000e-12,0.000000,0.000000,1018.688295,16.939914,-0.321340,-0.005850,9.288300,-6.447948,11.315154,-1.656006,1,mai
2016-05-07,6088001,14.200000,-82074.975372,12434.782149,3.600000e-12,0.000000,0.775211,1014.639645,16.259025,-0.757975,-0.005362,8.250837,-4.511634,15.153721,-1.123519,1,mai
2016-05-08,6088001,14.900000,-201390.174977,51391.003058,3.600000e-12,0.000000,5.638017,1012.036921,17.051681,-0.557596,-0.000597,10.769701,-8.308841,19.513286,-3.767672,1,mai
2016-05-09,6088001,14.500000,-130270.532888,-17867.232573,3.600000e-12,5.659698,8.000000,1014.305252,15.624969,-0.428933,-0.004801,13.170813,-2.157722,29.095836,-4.910065,1,mai
2016-05-10,6088001,18.299999,-365322.656395,162534.550424,3.600000e-12,0.356838,8.000000,1012.462109,18.576390,-0.089165,-0.001312,14.442610,-15.315551,29.926263,-2.655536,1,mai
2016-05-11,6088001,18.200001,-597450.007434,225544.110941,3.600000e-12,0.745059,8.000000,1006.512905,18.751717,-0.143835,-0.001337,14.542039,-21.681247,32.441134,-6.007130,1,mai
2016-05-12,6088001,14.000000,-104798.586768,-10102.727366,3.600000e-12,0.298690,0.682028,1002.547025,15.348722,-0.871094,-0.003640,12.350278,2.524173,20.407413,4.296607,1,mai
2016-05-13,6088001,17.200001,-497795.017452,107003.824749,3.600000e-12,0.000000,5.581265,998.354135,17.765920,-0.479471,-0.001840,11.548607,12.933542,16.011960,5.534830,1,mai
2016-05-14,6088001,14.800000,-33942.286540,-616.537404,3.600000e-12,0.127232,7.999630,1000.644211,16.115261,-0.067944,-0.003925,14.361468,1.348221,26.991088,-2.188329,1,mai
2016-05-15,6088001,15.100000,-54629.828107,-5042.251350,3.600000e-12,0.036657,0.036657,1008.628662,16.801569,-0.559439,-0.002830,13.115154,1.388407,23.465428,-2.832495,1,mai
2016-05-16,6088001,15.400000,-101793.620338,13201.162549,3.600000e-12,0.064438,0.064438,1013.353579,16.944262,-0.910454,-0.002476,12.095054,-8.218037,19.679632,-2.116227,1,mai
2016-05-17,6088001,13.900000,-82509.588418,-12957.320754,3.600000e-12,0.939451,6.421593,1014.894253,15.899862,-0.848682,-0.005683,12.590383,-0.963769,19.548900,-2.141170,1,mai
2016-05-18,6088001,14.700000,-121520.060622,-10377.464180,3.600000e-12,0.000000,8.000000,1016.198122,16.655928,-1.031168,-0.006952,12.728902,2.290245,19.972052,3.170935,1,mai
2016-05-19,6088001,15.200000,-118319.826829,-17310.076122,3.600000e-12,1.195548,1.889131,1011.343963,16.400026,-0.907917,-0.006735,12.484751,4.396801,20.658261,0.274428,1,mai
2016-05-20,6088001,14.000000,-207604.561581,-2869.117501,3.600000e-12,0.000000,0.000000,1013.099908,16.322488,0.426430,-0.004681,10.284688,1.662264,15.396356,-4.282971,1,mai
2016-05-21,6088001,17.400000,-240986.490019,26674.508763,3.600000e-12,0.000000,3.806369,1018.719619,18.810225,1.722155,-0.003806,12.464946,4.068059,18.371384,-1.207663,1,mai
2016-05-22,6088001,16.000000,-35527.747795,-3804.454035,3.600000e-12,0.001923,7.997878,1018.104221,17.551412,-0.243172,-0.005058,11.047124,-0.274857,18.944844,-1.896421,1,mai
2016-05-23,6088001,17.700001,-271874.281308,-16379.961065,3.600000e-12,2.719692,2.946524,1011.775526,16.914558,-0.559914,-0.002773,12.598958,5.930585,21.397586,-1.974180,1,mai
2016-05-24,6088001,14.800000,-229513.663057,-13283.309647,3.600000e-12,0.000000,0.000000,1009.546649,16.106974,0.562993,-0.005026,9.473526,2.679872,11.078975,-2.023585,1,mai
2016-05-25,6088001,13.800000,-171859.406579,-10437.344785,3.600000e-12,0.173476,7.480102,1011.618792,16.443422,-0.999130,-0.003380,11.035155,-6.748578,18.168817,-3.180786,1,mai
2016-05-26,6088001,15.600000,-43362.644331,-4054.986062,3.600000e-12,0.000000,6.034735,1014.727518,17.138985,-0.740033,-0.006048,14.578932,-0.135488,26.022342,-0.525610,1,mai
2016-05-27,6088001,17.900000,-54149.402978,8627.882059,3.600000e-12,0.000000,7.748640,1013.829961,18.960415,2.342694,-0.005079,14.569965,0.124340,22.077497,-2.871290,1,mai
2016-05-28,6088001,18.100000,-132050.179846,13223.873899,3.600000e-12,0.000000,0.000000,1014.262059,19.864559,0.628338,-0.004013,15.400601,2.315565,19.448202,-1.522004,1,mai
2016-05-29,6088001,18.200001,-161467.654229,-19238.356606,3.600000e-12,0.941025,8.000000,1010.835516,18.307359,-0.958995,-0.000028,16.070514,7.770616,31.250828,4.634992,1,mai
2016-05-30,6088001,17.400000,-220322.848443,11228.123274,3.600000e-12,0.000000,0.000000,1008.397968,18.721251,-0.410344,-0.009353,12.976594,7.847882,19.715082,2.041287,1,mai

https://machinelearningmastery.com/time-series-data-visualization-with-python/